@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Строительная фирма ООО"Tvorog Corporation Incorporated"</h1>
    <p class="lead">Здравствуйте,зайдите под учётной записью соответствующей вашей должности в строительной фирме.</p>
    
</div>

